body {
  background-color: gainsboro;
}

.header-container {
  display: flex;
  justify-content: center;
}

img {
  width: 100%;
}
.header {
  text-align: center;
  font-size: large;
  color: white;
  width: 100%;
  height: 276.2px;
  position: relative;
}

.line {
  width: 100%;
  height: 10px;
  background: linear-gradient(0deg, rgb(5, 2, 34) 0%, rgb(36, 36, 155) 50%);
}

.title {
  position: absolute;
  font-size: xx-large;
  padding: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subtitle {
  font-size: medium;
  font-style: italic;
  position: absolute;
  padding: 0px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contents {
  background-color: white;
  width: 40%;
  height: auto;
  margin: 0 auto;
  position: relative;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 40px;
}

#vis1, #vis2, #vis3, #vis4 {
  background-color: white;
  padding: 10px;
  width: 80%;
  display:block;
  margin:auto;
}

.footer {
  background: rgba(8, 12, 206, 0.753);
  text-align: center;
  color: white;
  line-height: 1.15em;
}

h2, h3 {
  padding: 0px;
  margin: 0px;
}

p{
  margin: 0px;
  padding-bottom: 20px;
}

.content-2, .content-3, .content-4, .content-5 {
  padding-bottom: 20px;
}

.red {
  color: red;
  background: none;
}

.blue {
  color: blue;
  background: none;
}

p, h1, h2, h3 {
  font-family: 'Work Sans', sans-serif;
}